1. Τι ελπίζετε να πετύχετε με το προτεινόμενο έργο;
2. Τι θα επιτύχει το έργο που δεν ολοκληρώνεται επί του παρόντος με το χέρι ή
	  με άλλα έργα/λογισμικό;
3. Υπάρχουν άλλα έργα/συστήματα με τα οποία θα διασυνδέεται αυτό το έργο/σύστημα;
4. Ποιοι πόροι μπορεί να χρειαστούν (προϋπολογισμός, προσωπικό, κ.λπ.);
5. Υπάρχουν περιορισμοί πόρων στη διατήρηση του έργου/συστήματος;
6. Υπάρχουν τεχνικοί περιορισμοί στην ανάπτυξη αυτού του έργου/συστήματος;
7. Θα αλλάξει το έργο/σύστημα τον τρόπο που κάνετε τα πράγματα τώρα;
8. Τι είναι πιο σημαντικό για την επιτυχία του έργου; 
